# Not important files #
parseData.plist
.DS_Store
.Spotlight-V100

#XCode interface 
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
# Pods/


# Frameworks not included #
FacebookSDK.framework
Parse.framework
Pods
Crashlytics.framework/Crashlytics
Crashlytics.framework/Headers
Crashlytics.framework/Modules
Crashlytics.framework/Resources
Crashlytics.framework/run
Crashlytics.framework/submit
Crashlytics.framework/Versions/Current
Crashlytics.framework/Versions/A/Crashlytics
Crashlytics.framework/Versions/A/Headers/Crashlytics.h
Crashlytics.framework/Versions/A/Modules/module.modulemap
Crashlytics.framework/Versions/A/Resources/Info.plist
Fabric.framework/Fabric
Fabric.framework/Headers
Fabric.framework/Modules
Fabric.framework/Resources
Fabric.framework/run
Fabric.framework/Versions/Current
Fabric.framework/Versions/A/Fabric
Fabric.framework/Versions/A/Headers/Fabric.h
Fabric.framework/Versions/A/Modules/module.modulemap
Fabric.framework/Versions/A/Resources/Info.plist
MoPub.framework/Headers
MoPub.framework/Modules
MoPub.framework/MoPub
MoPub.framework/Resources
MoPub.framework/Versions/Current
MoPub.framework/Versions/A/MoPub
MoPub.framework/Versions/A/Headers/MoPub.h
MoPub.framework/Versions/A/Headers/MPAdConversionTracker.h
MoPub.framework/Versions/A/Headers/MPAdPositioning.h
MoPub.framework/Versions/A/Headers/MPAdView.h
MoPub.framework/Versions/A/Headers/MPBannerCustomEvent.h
MoPub.framework/Versions/A/Headers/MPBannerCustomEventDelegate.h
MoPub.framework/Versions/A/Headers/MPClientAdPositioning.h
MoPub.framework/Versions/A/Headers/MPCollectionViewAdPlacer.h
MoPub.framework/Versions/A/Headers/MPConstants.h
MoPub.framework/Versions/A/Headers/MPInterstitialAdController.h
MoPub.framework/Versions/A/Headers/MPInterstitialCustomEvent.h
MoPub.framework/Versions/A/Headers/MPInterstitialCustomEventDelegate.h
MoPub.framework/Versions/A/Headers/MPNativeAd.h
MoPub.framework/Versions/A/Headers/MPNativeAdAdapter.h
MoPub.framework/Versions/A/Headers/MPNativeAdConstants.h
MoPub.framework/Versions/A/Headers/MPNativeAdDelegate.h
MoPub.framework/Versions/A/Headers/MPNativeAdError.h
MoPub.framework/Versions/A/Headers/MPNativeAdRendering.h
MoPub.framework/Versions/A/Headers/MPNativeAdRequest.h
MoPub.framework/Versions/A/Headers/MPNativeAdRequestTargeting.h
MoPub.framework/Versions/A/Headers/MPNativeAdSampleTableViewCell.h
MoPub.framework/Versions/A/Headers/MPNativeAdSampleView.h
MoPub.framework/Versions/A/Headers/MPNativeCustomEvent.h
MoPub.framework/Versions/A/Headers/MPNativeCustomEventDelegate.h
MoPub.framework/Versions/A/Headers/MPServerAdPositioning.h
MoPub.framework/Versions/A/Headers/MPTableViewAdManager.h
MoPub.framework/Versions/A/Headers/MPTableViewAdPlacer.h
MoPub.framework/Versions/A/Modules/module.modulemap
MoPub.framework/Versions/A/Resources/Info.plist
MoPub.framework/Versions/A/Resources/MoPub.bundle/Info.plist
MoPub.framework/Versions/A/Resources/MoPub.bundle/MPAdBrowserController.nib
MoPub.framework/Versions/A/Resources/MoPub.bundle/MPCloseButtonX.png
MoPub.framework/Versions/A/Resources/MoPub.bundle/MPCloseButtonX@2x.png
MoPub.framework/Versions/A/Resources/MoPub.bundle/mraid.js
