<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FART!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>H-ound Fart Ed. Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B917D281196E0CDD008E418D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B917D2A2196E0CDD008E418D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B967B3911A1BDCCB005BEBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B967B3A51A1BDCCB005BEBF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
